<ion-view title="screen1" id="page1" style="background-color:#CCBB14;" class=" ">
    <ion-content padding="true" class="has-header">
        <div class="spacer" style="height: 100px;"></div>
        <div class="" style="margin-left: -10px; width: calc(100% + 20px);">
            <img src="img/ogMyaukKSD6SYPNFNylf_mylogo.png" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
        </div>
        <div class="spacer" style="height: 100px;"></div>
        <button id="screen1-button1" class=" button button-positive  button-block ">Get started!</button>
    </ion-content>
</ion-view>